<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestsSuite">

    <test name="ChromeTest" preserve-order="true">
        <parameter name="browser" value="Chrome" />
        <classes>
            <class name="LogInTests"></class>
            <class name="AddContentTests"></class>
            <class name="ShareContentTests"></class>
            <class name="FollowTest"></class>
        </classes>
    </test>
</suite>

